<app-categorias-toolbar></app-categorias-toolbar>
<div>
  <div class="contenedor-brand1">
    <div class="contenedor-cuerpo-brand">
      <img class="imagen-logo" src="../../../assets/img/La Rana Glotona.png" alt="Logo">
    </div>
  </div>
  <div class="contenedor-brand2">
    <div class="contenedor-cuerpo-brand">
      <h2 class="texto-brand">MEJORES PRODUCTOS</h2>
    </div>
  </div>
  <div class="contenedor-brand3">
    <div class="contenedor-cuerpo-brand">
      <h2 class="texto-brand">TU SUPERMERCADO</h2>
    </div>
  </div>
  <div class="contenedor-brand4">
    <div class="contenedor-cuerpo-brand">
      <h2 class="texto-brand">TU MEJOR OPCIÓN</h2>
    </div>
  </div>
</div>


